@import "../../App.scss"; 

.EmailDetails {
	width : 100%;
	.header {
		display         : flex;	
		justify-content : space-between;
	}
	.card {
		padding    : 1rem;
		background : $white;
	}
	.avatar {
		width           : 56px;
		height          : 56px;
		display         : flex;
		border-radius   : 50%;
		justify-content : center;
		border          : 1px solid $greyLigh;
		
		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
} 