@import "../../theme.scss";

.numberEmails {
	background-color : $red;
	color            : $white;
	margin           : 1rem;
    padding          : 0.3rem 0.5rem;
    border-radius    : 50%;
}

.headerListView {
	margin: 0.8rem;
}