@import "../../theme.scss";
	
.EmailCard {
	.header {
		display         : flex;	
		justify-content : space-between;
	}
	.unread, .read {
		.date {
			min-width  : 15vw;
			text-align : end;
		}
		.title {
			font-weight : 600;
		}

		&:hover {
			background-color : $blueBG;
		}
		&:active {
			background-color : $bodyBG ;
		}
	}
	.unread {
		background-color : $bodyBG;
		border-left      : solid .3rem $blue;

		.title {
			color : $blue!important;
		}
	}
	.read {
		background-color :$white;
	}

	.body {
		.singleLine {
			width         : 100%;
			text-overflow : ellipsis;
			overflow      : hidden;
			white-space   : pre;
		}
	}

} 